///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Border all styles
@mixin ba {
  border-style: solid;
  border-width: 1px;
}

///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Base border top styles
@mixin bt {
  border-top-width: 1px;
  border-top-style: solid;
}

///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Base border right styles
@mixin br {
  border-right-width: 1px;
  border-right-style: solid;
}

///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Base border bottom styles
@mixin bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Base boarder left styles
@mixin bl {
  border-left-width: 1px;
  border-left-style: solid;
}

///
/// @group Borders
/// @link http://tachyons.io/docs/themes/borders/
/// @output Removes border styles
@mixin bn {
  border-style: none;
  border-width: 0;
}
